/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * DDBLOCK
 ***************************************/
.ddblock-number-pager {
	position: absolute;
	z-index: 100;
}
.ddblock-number-pager a {
	background: none;
	border: 1px solid #333;
	color: #0F0;
}
.ddblock-number-pager a.activeSlide {
	background-color: #333;
	background-image: none;
}
