/***********************************************************
 * Devavrata Core Theme Core for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * ICONS
 ***************************************/
 
.block-title .block-icon {
	 position: relative;
	 top: 2px;
	 float: right;
	 margin-right: 2px;
 }
 .block-title h2 {
	 float: left;
 }
.primary-link-icon{
	opacity: .6;
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.5);
	filter: Alpha(opacity=60);
	float:left;
	margin-left: 5px;
	position: relative;
	top: 5px;
}