/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * PAGE-WRAPPER
 ***************************************/
#page-wrapper-onebar {
	width:1200px;
}
#page-wrapper-twobars {
	width:1377px;
}
#page-wrapper-twobars-800px {
	width:1177px;
}
#page-wrapper-onebar-800px {
	width:1000px;
}
#page-wrapper-twobars-600px {
	width:977px;
}
#page-wrapper-onebar-600px {
	width:795px;
}

/***************************************
 * HEADER AREA
 ***************************************/
#logo-block {
	position: relative;
	left: -10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#site-name-shadow{
	display: none;
	top: -22px;
	left: -2px;
}


/***************************************
 * PREFACE & POSTSCRIPT AREA
 ***************************************/
.column {
	height: 210px;
}
/***************************************
 * FOOTER-WRAPPER AREA
 ***************************************/
#footer-wrapper img {
	margin-top: 10px;
}
/***************************************
 * PRIMARY LINKS
 ***************************************/

/** LINK DEFAULTS **/
#primary-links ul.menu li a {
	position: relative;
	top: 4px;
	height: 25px;
}

/** HOVER DEFAULT COLOR **/
#primary-links ul.menu li.hover a, 
#primary-links ul.menu li ul.menu li.hover a,
#primary-links ul.menu li ul.menu li ul.menu li.hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.hover a,
#primary-links ul.menu li.active-trail a {
	text-decoration: none;
	color: #0C3278;
}

/** MENU POSITION **/
#primary-links ul.menu { /** 1ST LEVEL **/
	top: 0px;
	margin: 0px;
	position: relative;
	float: right;
	display: block;
}
#primary-links ul.menu li ul.menu,
#primary-links ul.menu li ul.menu li ul.menu,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu { /** FOR ALL **/
	position:absolute;
	margin-top: 0px;
}
/** 1ST LEVEL MENU **/
#primary-links ul.menu li {
	display: block;
	position: relative;
	right: 5px;
	float: left;
	overflow: hidden;
	color: #D2DBE6;
	padding-left: 5px;
}
/** 2ND LEVEL MENU **/
#primary-links ul.menu li ul.menu li {
	display: block;
	position: relative;
	top: 27px;
	float: none;
	left: -160px;
	overflow: hidden;
	background-image: url(../images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
	width: 150px;
}
/** 3RD upto Nth LEVEL MENU **/
#primary-links ul.menu li ul.menu li ul.menu li,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li {
	display: block;
	position: relative;
	float: none;
	top: 10px;
	left: -242px;
	overflow: hidden;
	background-image: url(../images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
}
/** EXPANDED MENU ARROWS **/
#primary-links ul.menu li.expanded a,
#primary-links ul.menu li.collapsed a{
	background-image: url(../images/menu-expanded.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	overflow: visible;
}

#primary-links ul.menu li ul.menu li.expanded a,
#primary-links ul.menu li ul.menu li.collapsed a {	
	background-image: url(../images/menu-collapsed-rtl.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	overflow: visible;
}
/** HOVER FONT COLOR & BACKGROUND **/
#primary-links ul.menu li.active-trail {
	height: 24px;
	color: #0C3278;
	position: relative;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;	
}
#primary-links ul.menu li.hover{
	height: 24px;
	color: #0C3278;
	position: relative;
	overflow: visible;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#primary-links ul.menu li ul.menu li.hover,
#primary-links ul.menu li ul.menu li ul.menu li.hover,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.hover,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.hover  {	
	color: #0C3278;
	position: relative;
	overflow: visible;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
/***************************************
 * SECONDARY LINKS
 ***************************************/
/** LINK DEFAULTS **/
#secondary-links ul.menu li a {
	position: relative;
	top: 4px;
	height: 25px;
}

/** HOVER DEFAULT COLOR **/
#secondary-links ul.menu li.hover a, 
#secondary-links ul.menu li ul.menu li.hover a,
#secondary-links ul.menu li ul.menu li ul.menu li.hover a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li.hover a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.hover a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.hover a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.hover a,
#secondary-links ul.menu li.active-trail a {
	text-decoration: none;
	color: #0C3278;
}

/** MENU POSITION **/
#secondary-links ul.menu { /** 1ST LEVEL **/
	top: 0px;
	margin: 0px;
	position: relative;
	float: left;
	display: block;
}
#secondary-links ul.menu li ul.menu,
#secondary-links ul.menu li ul.menu li ul.menu,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu { /** FOR ALL **/
	position:absolute;
	margin-top: 0px;
}
/** 1ST LEVEL MENU **/
#secondary-links ul.menu li {
	display: block;
	position: relative;
	right: 5px;
	float: left;
	overflow: hidden;
	color: #D2DBE6;
	padding-left: 5px;
}
/** 2ND LEVEL MENU **/
#secondary-links ul.menu li ul.menu li {
	display: block;
	position: relative;
	top: 27px;
	float: none;
	left: -160px;
	overflow: hidden;
	background-image: url(../images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
	width: 150px;
}
/** 3RD upto Nth LEVEL MENU **/
#secondary-links ul.menu li ul.menu li ul.menu li,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li {
	display: block;
	position: relative;
	float: none;
	top: 10px;
	left: 55px;
	overflow: hidden;
	background-image: url(../images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
}
/** EXPANDED MENU ARROWS **/
#secondary-links ul.menu li.expanded a,
#secondary-links ul.menu li.collapsed a{
	background-image: url(../images/menu-expanded.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	overflow: visible;
}

#secondary-links ul.menu li ul.menu li.expanded a,
#secondary-links ul.menu li ul.menu li.collapsed a {	
	background-image: url(../images/menu-collapsed.png);
	background-repeat: no-repeat;
	background-position: 140px 5px;
	overflow: visible;
}
/** HOVER FONT COLOR & BACKGROUND **/
#secondary-links ul.menu li.active-trail {
	height: 24px;
	color: #0C3278;
	position: relative;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;	
}
#secondary-links ul.menu li.hover{
	height: 24px;
	color: #0C3278;
	overflow: visible;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#secondary-links ul.menu li ul.menu li.hover,
#secondary-links ul.menu li ul.menu li ul.menu li.hover,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li.hover,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.hover  {	
	color: #0C3278;
	position: relative;
	overflow: visible;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
/***************************************
 * BLOCK
 ***************************************/

.block-title {
	height: 20px;
	display: block;
	overflow: hidden;
	padding-top: 0px;
}

/***************************************
 * PRIMARY-LINKS FIRST LEVEL AREA
 ***************************************/
#primary-links, #secondary-links {
	padding: 0px
}
.primary-link-icon {
	margin-left: 5px;
}
#primary-links ul.menu li a, #secondary-links ul.menu li a {
	float: left;
}
/***************************************
 * BLOCK AREA
 ***************************************/

.sidebar-outside  .block-menu ul.menu li {
	margin-right: -11px;
	margin-left: -11px;
}
/***************************************
 * FORM AREA
 ***************************************/
 
 .poll .vote-form .choices {
	 width: 90px;
	margin-right: 50px;
	 
 }
 
/**************************/
/* ALPHA TRANSPARENCY FIX */
/**************************/
img {
  	behavior: url(/sites/all/themes/devavrata_free/css/iepngfix.htc);   /* change path here and in iepngfix.htc to match theme location */ 
} 
