/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/
 
 /***************************************
 * HEADER AREA
 ***************************************/

#site-name-shadow h1{ 
 	display: none;

}
/** 3RD upto Nth LEVEL MENU **/
#primary-links ul.menu li ul.menu li ul.menu li,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li {
	left: -212px;
}
#secondary-links>ul.menu {
	left: 35px;
}
/*
#right-outside-wrapper {
	margin-left: 0px;
	left: 200px;
}*/
#left-wrapper input, #left-outside-wrapper input,
#right-wrapper input, #right-outside-wrapper input,
#Header-Top input, #Header-Bottom input, #Menu input,
#Content-Column input, #Footer input,
#Preface input, #Postscript input,
#user-login-form input, #content-region input {
	border: none;
}
#devavrata-settings-collapse {
	display: block;
}