/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * PRIMARY LINKS
 ***************************************/

/** LINK DEFAULTS **/
#primary-links a {
	color: #D2DBE6;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 5px;
	padding-left: 10px;
	letter-spacing: 0px;
	display: block;
}
#primary-links>ul.menu>li>a {
	position: relative;
	top: 4px;
	height: 25px;
}
#primary-links ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li a {
	color: #D2DBE6;
	padding-top: 3px;
	padding-bottom: 3px;
}
/** HOVER DEFAULT COLOR **/
#primary-links ul.menu li:hover a, 
#primary-links ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li.active-trail a {
	text-decoration: none;
	color: #0C3278;
}
/** MENU POSITION **/
#primary-links>ul.menu { /** 1ST LEVEL **/
	top: -1px;
	z-index: 1000;
	margin: 0px;
	position: relative !important;
	height: 25px;
	float: right;
	display: block;
}
#primary-links ul.menu { /** FOR ALL **/
	position:absolute;
	margin-top: 0px;
}
/** 1ST LEVEL MENU **/
#primary-links>ul.menu>li {
	display: block;
	position: relative;
	right: 5px;
	float: left;
	overflow: hidden;
	height: 23px;
	width: auto;
	color: #D2DBE6;
	padding-left: 5px;
}
/** 2ND LEVEL MENU **/
#primary-links>ul.menu>li ul.menu li {
	outline: 10px;
	display: block;
	position: relative;
	left: -51px;
	overflow: hidden;
	background-image: url(../images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
	padding-left: 5px;
	width: 150px;
}
/** 3RD upto Nth LEVEL MENU **/
#primary-links ul.menu li ul.menu li ul.menu li,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li {
	outline: 10px;
	display: block;
	position: relative;
	left: -211px;
	top: -20px;
	float: left;
	overflow: hidden;
	background-image: url(../images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
	padding-left: 5px;
}
/** EXPANDED MENU ARROWS **/
#primary-links ul.menu li.expanded>a,
#primary-links ul.menu li.collapsed>a{
	background-image: url(../images/menu-expanded.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	overflow: visible;
}
#primary-links ul.menu li ul.menu li.expanded>a,
#primary-links ul.menu li ul.menu li.collapsed>a,
#primary-links ul.menu li ul.menu li ul.menu li.expanded>a,
#primary-links ul.menu li ul.menu li ul.menu li.collapsed>a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.expanded>a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.collapsed>a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.expanded>a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.collapsed>a{	
	background-image: url(../images/menu-collapsed-rtl.png);
	background-repeat: no-repeat;
	background-position: 0px center;
	overflow: visible;
}
/** ROUNDED CORNERS FOR FIREFOX & SAFARI **/
#primary-links ul.menu li ul.menu li.last,
#primary-links ul.menu li ul.menu li ul.menu li.last,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.last,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.last{
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
  	-webkit-border-bottom-left-radius: 5px;
  	-webkit-border-bottom-right-radius: 5px; 
}
#primary-links ul.menu li ul.menu li ul.menu li.first,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.first,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.first {
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
  	-webkit-border-top-left-radius: 5px;
  	-webkit-border-top-right-radius: 5px; 
}
/** HOVER FONT COLOR & BACKGROUND **/
#primary-links>ul.menu>li.active-trail {
	height: 24px;
	color: #0C3278;
	position: relative;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;	
}
#primary-links>ul.menu>li:hover {
	height: 24px;
	color: #0C3278;
	position: relative;
	overflow: visible;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#primary-links ul.menu li ul.menu li:hover,
#primary-links ul.menu li ul.menu li ul.menu li:hover,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li:hover,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover {	
	color: #0C3278;
	position: relative;
	overflow: visible;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}

/***************************************
 * SECONDARY links
 ***************************************/
#secondary-links a{
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.7);
	filter: Alpha(opacity=70);
	opacity: .7;
}
#secondary-links {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
/** LINK DEFAULTS **/
#secondary-links a {
	color: #D2DBE6;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 5px;
	padding-left: 10px;
	letter-spacing: 0px;
	display: block;
}
#secondary-links>ul.menu>li>a {
	position: relative;
	top: 4px;
	height: 25px;
}
#secondary-links ul.menu li ul.menu li a,
#secondary-links ul.menu li ul.menu li ul.menu li a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li a {
	color: #D2DBE6;
	padding-top: 3px;
	padding-bottom: 3px;
}
/** HOVER DEFAULT COLOR **/
#secondary-links ul.menu li:hover a, 
#secondary-links ul.menu li ul.menu li:hover a,
#secondary-links ul.menu li ul.menu li ul.menu li:hover a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#secondary-links ul.menu li.active-trail a {
	text-decoration: none;
	color: #0C3278;
}
/** MENU POSITION **/
#secondary-links>ul.menu { /** 1ST LEVEL **/
	top: -1px;
	z-index: 1000;
	margin: 0px;
	padding: 0px;
	position: relative !important;
	height: 25px;
	float: left;
	display: block;
}
#secondary-links ul.menu { /** FOR ALL **/
	position:absolute;
	margin-top: 0px;
}
/** 1ST LEVEL MENU **/
#secondary-links>ul.menu>li {
	display: block;
	position: relative;
	right: 5px;
	float: left;
	overflow: hidden;
	height: 23px;
	width: auto;
	color: #D2DBE6;
	padding-left: 5px;
}
/** 2ND LEVEL MENU **/
#secondary-links>ul.menu>li ul.menu li {
	display: block;
	position: relative;
	left: -51px;
	overflow: hidden;
	background-image: url(../images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
	padding-left: 5px;
	width: 150px;
}
/** 3RD upto Nth LEVEL MENU **/
#secondary-links ul.menu li ul.menu li ul.menu li,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li {
	outline: 10px;
	display: block;
	position: relative;
	left: 110px;
	top: -20px;
	float: left;
	overflow: hidden;
	background-image: url(../images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
	padding-left: 5px;
}
/** EXPANDED MENU ARROWS **/
#secondary-links ul.menu li.expanded>a,
#secondary-links ul.menu li.collapsed>a{
	background-image: url(../images/menu-expanded.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	overflow: visible;
}
#secondary-links ul.menu li ul.menu li.expanded>a,
#secondary-links ul.menu li ul.menu li.collapsed>a,
#secondary-links ul.menu li ul.menu li ul.menu li.expanded>a,
#secondary-links ul.menu li ul.menu li ul.menu li.collapsed>a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li.expanded>a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li.collapsed>a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.expanded>a,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.collapsed>a{	
	background-image: url(../images/menu-collapsed.png);
	background-repeat: no-repeat;
	background-position: 140px center;
	overflow: visible;
}
/** ROUNDED CORNERS FOR FIREFOX & SAFARI **/
#secondary-links ul.menu li ul.menu li.last,
#secondary-links ul.menu li ul.menu li ul.menu li.last,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li.last,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.last{
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
  	-webkit-border-bottom-left-radius: 5px;
  	-webkit-border-bottom-right-radius: 5px; 
}
#secondary-links ul.menu li ul.menu li ul.menu li.first,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li.first,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.first {
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
  	-webkit-border-top-left-radius: 5px;
  	-webkit-border-top-right-radius: 5px; 
}
/** HOVER FONT COLOR & BACKGROUND **/
#secondary-links>ul.menu>li.active-trail {
	height: 24px;
	color: #0C3278;
	position: relative;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;	
}
#secondary-links>ul.menu>li:hover {
	height: 24px;
	color: #0C3278;
	position: relative;
	overflow: visible;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#secondary-links ul.menu li ul.menu li:hover,
#secondary-links ul.menu li ul.menu li ul.menu li:hover,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li:hover,
#secondary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover {	
	color: #0C3278;
	position: relative;
	overflow: visible;
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}

/***************************************
 * MENU SIDE-BAR
 ***************************************/
.sidebar  .block-menu {}
.sidebar  .block-menu ul.menu li {
	list-style-type: none;
	list-style-image: none;
	display: block;
	margin-left: -11px;
	width: 170px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	letter-spacing: 0px;
}
.sidebar .block-menu ul.menu li ul.menu li,
.sidebar .block-menu ul.menu li ul.menu li ul.menu li,
.sidebar .block-menu ul.menu li ul.menu li ul.menu li ul.menu li{

}
.sidebar .block-menu ul.menu li a:hover,
.sidebar .block-menu ul.menu li ul.menu li a:hover,
.sidebar .block-menu ul.menu li ul.menu li ul.menu li a:hover,
.sidebar .block-menu ul.menu li ul.menu li ul.menu li ul.menu li a:hover{
	color: #333;
	background-color: #B9CCF0;
	display: block;
	text-decoration: none;
}
.sidebar .block-menu ul.menu li a{
	list-style-type: none;
	display: block;
	padding: 10px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.sidebar .block-menu ul.menu li ul.menu li a{
}
.sidebar .block-menu ul.menu li ul.menu li ul.menu li a{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
.sidebar .block-menu ul.menu li ul.menu li ul.menu li ul.menu li a{
	font-style: italic;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}