/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * SEARCH BOX
 ***************************************/
#header-region #search{
	font-size: 10px;
	float: right;
	height: 22px;
	width: auto;
	margin: 10px;
}
#search{
	font-size: 10px;
	float: right;
	height: 20px;
	width: auto;
	margin: 3px;
}
#search #search-theme-form {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#search-block-form label, #search-theme-form label {
	display: none;
}

#search-block-form .form-submit, #search .form-submit {
	display:none;
	-moz-border-radius: 10px;
	border: 1px solid #333;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}
#search #edit-submit:hover {
	background-color: #666;
}
#search-block-form #edit-search-block-form-1, #search #edit-search-theme-form-1 {
	color: #666;
	width: 200px;
	text-indent: 25px;
	background-image: url(../images/search_gray.gif);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color:  transparent;
}

