/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * USER/LOGIN BLOCK
 ***************************************/
#block-user-0 {}
#user-login-form {
	text-align: center;	
}
#user-login-form ul {
	margin-top: 10px;
	text-align: left;	
}