/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * VIEWS
 ***************************************/
.view-content {}
.view-content table {
	margin: auto;
}

/***************************************
 * VIEWS JCAROUSEL
 ***************************************/
.view-content .viewscarousel .jcarousel-container-horizontal {
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-prev {}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-next {}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-clip-horizontal {}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel-item {}

.view-content .viewscarousel .jcarousel-container-vertical {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-prev {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-next {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-clip-vertical {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-clip-vertical .jcarousel-item {}

/***************************************
 * VIEWS GRID
 ***************************************/
.view-content {}
.view-content .views-view-grid {
  	border-collapse:separate;	
}
#content-main .view-content .views-view-grid td {
	border: 1px solid #CCC;
}
.view-content .views-view-grid td .field-item {}
