/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * SECTIONS
 ***************************************/
.main-section {
	position: relative;
	top: 0px;
}
.sub-section {
	margin-bottom: 5px;
	position: relative;
}
.inner-section {}
/***************************************
 * OUTLINES | ROUNDED CORNERS
 ***************************************/
.block-outline {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #CCC;
} 

/***************************************
 * NO FLOAT DIVS
 ***************************************/
.block-clear { clear: both; }

/***************************************
 * PAGE ALIGNMENT
 ***************************************/
.move-upper-left {
	position: absolute;
	left: 0px;
	top: 0px;	
}
.page-left {
	float: left;		
}
.page-right {
	float: right;		
}
/***************************************
 * XHTML TAGS
 ***************************************/
body {
	margin: 5px;
	padding: 0px;
}
h1,h2,h3,h4,h5,h6 { margin: 0px; }
/***************************************
 * PAGE-WRAPPER AREA
 ***************************************/
#page-wrapper-twobars { width: 1374px; }
#page-wrapper-onebar { width: 1187px; }
#page-wrapper-onebar-left { width: 1187px; }
#page-wrapper-onebar-right { width: 1187px; }
#page-wrapper-full { width: 1000px; }

#page-wrapper-twobars-800px { width: 1175px; }
#page-wrapper-onebar-800px { width: 987px; }
#page-wrapper-onebar-left-800px { width: 987px; }
#page-wrapper-onebar-right-800px { width: 987px; }
#page-wrapper-full-800px { width: 800px; }

#page-wrapper-twobars-600px { width: 974px; }
#page-wrapper-onebar-600px { width: 787px; }
#page-wrapper-onebar-left-600px { width: 787px; }
#page-wrapper-onebar-right-600px { width: 787px; }
#page-wrapper-full-600px { width: 600px; }

.page-wrapper {
	position: relative;
	margin: auto;
	padding: 0px;
}
/***************************************
 * MAIN-WRAPPER AREA contains the ff:
 * header-wrapper 
 * content-wrapper 
 * footer-wrapper 
 ***************************************/
#main-wrapper { width: 1000px; }
#main-wrapper-800px { width: 800px; }
#main-wrapper-600px { width: 600px; }
.main-wrapper {
	float: left;
	margin: 0px;	
}
/*******************************************
 * LEFT & RIGHT SIDEBARS OUTSIDE/INNER AREA
 *******************************************/
#left-outside, #left {}
#right-outside, #right {}
#left-wrapper, #left-outside-wrapper {
	margin-right: 5px;
	float: left;
}
#right-wrapper, #right-outside-wrapper {
	margin-right: 0px;
	float: right;
}
.sidebar-wrapper, .sidebar-outside-wrapper { width: 182px; position: relative; }
.sidebar-outside, .sidebar {
	margin-bottom: 5px;
}
.sidebar {
}
/***************************************
 * HEADER-WRAPPER AREA
 ***************************************/
#logo-block { margin: 10px;	}
.logo-block { float: left; }
#logo { margin-right: 5px; }
#name-slogan { margin-top: 20px; }
#site-name h1 { z-index: 100; }
#site-name, #site-name h1, #site-name-shadow, #site-name-shadow h1, #site-slogan h3 { position: relative; }
#site-name-shadow { height: 30px; }
#site-name-shadow h1 {
	top: -43px;
	left: -3px;
	z-index: 99;
}
#header-block {
	float: right;
	width: auto;	
}
#header {
	float: right;
	width: auto;
	overflow: visible !important;
}
/***************************************
 * PRIMARY & SECONDARY LINKS
 ***************************************/
#primary-links {
	z-index: 3000;
	height: 25px;
}
#secondary-links {
	z-index: 2000;
	margin-top: -5px;
	height: 25px;
}
/************************************************
 * COLUMN REGIONS
 ************************************************/
.column-region { padding-bottom: 5px; }

.column-5column-widest { width: 788px; }
.column-5column-wider { width: 588px; }
.column-5column-wide { width: 391px; }

.column-4column-widest { width: 738px; }
.column-3column-wider { width: 655px; }
.column-4column-wide { width: 490px; }

.column-4column-widest-800px { width: 588px; }
.column-3column-wider-800px { width: 522px; }
.column-4column-wide-800px { width: 390px; }

.column-4column-widest-600px { width: 438px; }
.column-3column-wider-600px { width: 388px; }
.column-4column-wide-600px { width: 290px; }

.column-5 { width: 191.5px; }
.column-4 { width: 241.5px; }
.column-3 { width: 324px; }
.column-2 { width: 489px; }
.column-1 { width: 987px; }

.column-4-800px { width: 191.5px; }
.column-3-800px { width: 257px; }
.column-2-800px { width: 390px; }
.column-1-800px { width: 787px; }

.column-4-600px { width: 141px; }
.column-3-600px { width: 191px; }
.column-2-600px { width: 289px; }
.column-1-600px { width: 587px; }

.column {
	position: relative;
	top: 5px;
	left: 5px;
	float: left;
	min-height: 210px;
	margin-right: 5px;
	margin-bottom: 5px;
	border: 1px solid #CCC;	
}
/***************************************
 * CONTENT-WRAPPER AREA
 ***************************************/
#content-wrapper { margin-bottom: 5px;}
#content-inner-wrapper { padding-top: 5px; padding-bottom: 5px;}

#content-main-full { width: 998px; }
#content-main-twobars { width: 625px; }
#content-main-onebar { width: 813px; }
#content-main-onebar-left { width: 813px; }
#content-main-onebar-right { width: 813px; }

#content-main-full-800px { width: 798px; }
#content-main-twobars-800px { width: 425px; }
#content-main-onebar-800px { width: 613px; }
#content-main-onebar-left-800px { width: 613px; }
#content-main-onebar-right-800px { width: 613px; }

#content-main-full-600px {  width: 598px; }
#content-main-twobars-600px { width: 225px; }
#content-main-onebar-600px { width: 413px; }
#content-main-onebar-left-600px { width: 413px; }
#content-main-onebar-right-600px { width: 413px; }

#content-region, #content { display: block;}
#content-region #comments, #content-region #comments .box .content { text-align: left; }
#content-region h2, #content-elements h2 { margin-top: 25px; margin-bottom: 25px; }
#content-region img { float: right; margin-left: 10px; margin-right: 0px; }
.content-main { float: left; position: relative; }
#content-region .content { margin-top: 30px; }
#content-region .content { margin: 0px; }
#content-region .content { margin-bottom: 10px; }
#content-region-top, #content-elements, 
#content-region, #content-region-bottom { margin: 5px; }
/***************************************
 * NODE AREA
 ***************************************/
.node, .node .meta { margin: 5px; }
/***************************************
 * FOOTER-WRAPPER AREA
 ***************************************/
#footer-message {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
#footer-region-bottom { margin-bottom: 50px}
.footer-region { margin-top: 5px; }
/***************************************
 * BLOCK AREA
 ***************************************/
.block { 
	margin: 0px; 
	display: block; 
}
.block .content {
	padding: 5px;
}
.block-title {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 20px;
	border: 1px solid #CCC;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
.block ul {
	margin-left: -5px;
	margin-top: -5px;
}
.block-hide {
	display: none !important;
}
.block-show {
	display: block !important;
}

.block-title-begin {
	position: absolute;
	left: 0px;
	height: 20px;
	width: 120px;
	z-index: 80px;
}    
.block-title-end {
	position: absolute;
	right: 0px;
	height: 20px;
	width: 120px;
	z-index: 90px;
} 
/***************************************
 * COLUMN GUIDE AREA
 ***************************************/
.column-hide {
	display: none;
}
.column-guide .block-region {
	background-color: #FF6;
	height: 20px;
	padding-top: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.devavrata-column-guide .block-region, #Menu .block-region {
	color: #000 !important;	
}
.column-guide {
	padding-top: 5px;
	margin-bottom: 5px;
}
.column-guide table {
	border-collapse:separate;
	vertical-align: top;
}
.column-guide table td {
	vertical-align: top;
	background-color: #FFF;
	text-align: center;
	border: 1px solid #CCC;
}
.column-guide table tr:hover {
	height: 200px;		
}
#useraccess, #submit-useraccess {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background: transparent;
	height: 10px;
}
/***************************************
 * MISCELLANEOUS
 ***************************************/
#legal {
	margin-bottom: 10px;
	text-align: center;
}
#legal a {
	opacity: .8;
	letter-spacing: 1px;
	word-spacing: 1px;
	padding: 2px;
}
#content-elements .status {
	text-align: center;
	padding: 15px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
	border: 1px solid #CCC;
	background-color: #FFC;
	color: #F60;
}
#contact-mail-page { margin: 10px; }
#comments img { float: right; }
.block-links {
	clear:both;
	padding: 5px;
}
.block-links img {
	float: left !important;
}
/*
#devavrata-settings-collapse {
	display: none;
}*/
