/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***********************************************************
 * OVERRIDES - CHANGE ALL DEFINITIONS HERE
 * This is a general CSS override file for all versions,
 * so please check if you have the following regions, columns
 ***********************************************************/
 
/*************************************
 * BACKGROUNDS CHANGE
 *************************************/
 
/**First Enable THIS to delete all white backgrounds of panels if you need to

.block-panel { background: none !important; } 
.block-outline {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
}
*/
 
 
/**Change main background, change this to your background**/

/*
body {
	background-image: url(images/background.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-attachment: fixed;
	background-color: #FFF;
	margin: 0px;
} 
*/

/*************************************
 * Target all block content & title
 *************************************/

/*
.block {}
.block .content {}
.block-title {
	background-image: url(images/bg_bar.png);    /** You can change the background of the block title here **
	background-repeat: repeat-x;
	background-position: 0px -1px;
}     
*/

/***************************************
 * PRIMARY & SECONDARY LINKS
 ***************************************/

/*
#primary-links {
	background-image: url(images/bg_bar.png);   /** You can change the background of primary menubar here**
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
#secondary-links {
	background-image: url(images/bg_bar_second.png); /** You can change the background of secondary menubar here**
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
*/

/*************************************
 * ADJUST PAGE SIZE and Position
 *************************************/
 
/**Default page def.
 .page-wrapper {
	position: relative;
	top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
*/
/**Use this for the layout to become 1000px**/

#page-wrapper-twobars-600px { width: 1374px; }
#page-wrapper-onebar-600px { width: 1187px; }
#page-wrapper-full-600px { width: 1000px; }
#main-wrapper-600px { width: 1000px; }

#content-main-full-600px { width: 998px; }
#content-main-twobars-600px { width: 625px; }
#content-main-onebar-600px { width: 811px; }

.column-4column-widest-600px  { width: 738px; }
.column-3column-wider-600px  { width: 655px; }
.column-4column-wide-600px  { width: 490px; }

.column-4-600px  { width: 241.5px; }
.column-3-600px  { width: 324px; }
.column-2-600px  { width: 489px; }
.column-1-600px  { width: 987px; }


/**Use this for the layout to become 800px 

#page-wrapper-twobars-600px { width: 1175px; }
#page-wrapper-onebar-600px { width: 992px; }
#page-wrapper-full-600px { width: 800px; }
#main-wrapper-600px { width: 800px; }

#content-main-full-600px { width: 798px; }
#content-main-twobars-600px { width: 425px; }
#content-main-onebar-600px { width: 611px; }

.column-4column-widest-600px { width: 588px; }
.column-3column-wider-600px { width: 522px; }
.column-4column-wide-600px { width: 390px; }

.column-4-600px { width: 191.5px; }
.column-3-600px { width: 257px; }
.column-2-600px { width: 390px; }
.column-1-600px { width: 787px; }

**/


/***************************************
 * VIEWS JCAROUSEL
 ***************************************/
 
/*
.view-content .viewscarousel .jcarousel-container-horizontal {
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-prev {}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-next {}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-clip-horizontal {}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel-item {}

.view-content .viewscarousel .jcarousel-container-vertical {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-prev {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-next {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-clip-vertical {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-clip-vertical .jcarousel-item {}

*/

/***************************************
 * VIEWS GRID
 ***************************************/

/*
.view-content {}
.view-content .views-view-grid {
  	border-collapse:separate;	
}
#content-main .view-content .views-view-grid td {
	border: 1px solid #CCC;
}
.view-content .views-view-grid td .field-item {}

*/

/******************************************************************************************************************
 * NOTE: YOU CAN USE FIREBUG TO SEE MORE CSS IDS AND CLASS NAMES TO TARGET THE AREAS OR ELEMENTS YOU WANT TO CHANGE
 * Thank you for using Devavrata Core Theme!
 ******************************************************************************************************************/
 
