/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * PRIMARY LINKS
 ***************************************/

/** LINK DEFAULTS **/
#primary-links a {
	color: #d4d4d4;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 5px;
	padding-left: 10px;
	letter-spacing: 0px;
	display: block;
}
#primary-links>ul.menu>li>a {
	position: relative;
	top: 4px;
	height: 25px;
}
#primary-links ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li a {
	color: #d4d4d4;
	padding-top: 3px;
	padding-bottom: 3px;
}
/** HOVER DEFAULT COLOR **/
#primary-links ul.menu li:hover a, 
#primary-links ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover a,
#primary-links ul.menu li.active-trail a {
	text-decoration: none;
	color: #1d173a;
}
/** MENU POSITION **/
#primary-links>ul.menu { /** 1ST LEVEL **/
	top: -1px;
	z-index: 1000;
	margin: 0px;
	position: relative !important;
	height: 25px;
	float: right;
	display: block;
}
#primary-links ul.menu { /** FOR ALL **/
	position:absolute;
	margin-top: 0px;
}
/** 1ST LEVEL MENU **/
#primary-links>ul.menu>li {
	display: block;
	position: relative;
	right: 5px;
	float: left;
	overflow: hidden;
	height: 23px;
	width: auto;
	color: #d2dae6;
	padding-left: 5px;
}
/** 2ND LEVEL MENU **/
#primary-links>ul.menu>li ul.menu li {
	outline: 10px;
	display: block;
	position: relative;
	left: -51px;
	overflow: hidden;
	background-image: url(images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
	padding-left: 5px;
	width: 150px;
}
/** 3RD upto Nth LEVEL MENU **/
#primary-links ul.menu li ul.menu li ul.menu li,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li {
	outline: 10px;
	display: block;
	position: relative;
	left: -211px;
	top: -20px;
	float: left;
	overflow: hidden;
	background-image: url(images/bg_bar_dark.png);
	background-position: 0px -1px;
	list-style-type: none;
	padding-left: 5px;
}
/** EXPANDED MENU ARROWS **/
#primary-links ul.menu li.expanded>a,
#primary-links ul.menu li.collapsed>a{
	background-image: url(images/menu-expanded.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	overflow: visible;
}
#primary-links ul.menu li ul.menu li.expanded>a,
#primary-links ul.menu li ul.menu li.collapsed>a,
#primary-links ul.menu li ul.menu li ul.menu li.expanded>a,
#primary-links ul.menu li ul.menu li ul.menu li.collapsed>a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.expanded>a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.collapsed>a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.expanded>a,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.collapsed>a{	
	background-image: url(images/menu-collapsed-rtl.png);
	background-repeat: no-repeat;
	background-position: 0px center;
	overflow: visible;
}
/** ROUNDED CORNERS FOR FIREFOX & SAFARI **/
#primary-links ul.menu li ul.menu li.last,
#primary-links ul.menu li ul.menu li ul.menu li.last,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.last,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.last{
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
  	-webkit-border-bottom-left-radius: 5px;
  	-webkit-border-bottom-right-radius: 5px; 
}
#primary-links ul.menu li ul.menu li ul.menu li.first,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li.first,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li.first {
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
  	-webkit-border-top-left-radius: 5px;
  	-webkit-border-top-right-radius: 5px; 
}
/** HOVER FONT COLOR & BACKGROUND **/
#primary-links>ul.menu>li.active-trail {
	height: 24px;
	color: #0b3178;
	position: relative;
	background-image: url(images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;	
}
#primary-links>ul.menu>li:hover {
	height: 24px;
	color: #0b3178;
	position: relative;
	overflow: visible;
	background-image: url(images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#primary-links ul.menu li ul.menu li:hover,
#primary-links ul.menu li ul.menu li ul.menu li:hover,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li:hover,
#primary-links ul.menu li ul.menu li ul.menu li ul.menu li ul.menu li:hover {	
	color: #0b3178;
	position: relative;
	overflow: visible;
	background-image: url(images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}

/***************************************
 * SECONDARY links
 ***************************************/
#secondary-links a{
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.7);
	filter: Alpha(opacity=70);
	opacity: .7;	
}
.secondary-links {
	float: left;
	position: relative;
	top: 5px;
	left: 15px;
}
