/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * XHTML TAGS
 ***************************************/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	letter-spacing: .09em;
}
h1 { font-size: 24px;
	color: #326599;
	letter-spacing: 0px;
}
h2 {
	font-size: 16px;
	color: #0e186c;
	letter-spacing: 0px;
	}
h3 { font-size: 12px;
	color: #0e186c;
}
a, a:visited {
	color: #0e186c;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
/*******************************************
 * LEFT & RIGHT SIDEBARS OUTSIDE/INNER AREA
 *******************************************/
.sidebar { color: #333333; }
/***************************************
 * HEADER-WRAPPER AREA
 ***************************************/
.header-region { color: #333333; }
#header { color: #333333; }
#logo-block h1 { 
	font-size: 40px;
	letter-spacing: 0px;
}
#site-name-shadow h1 { color: #cccccc; }
#site-slogan h3 { color: #333333; }
/***************************************
 * PRIMARY & SECONDARY LINKS
 ***************************************/
#secondary-links a, #secondary-links a:visited {
	color: #a47dcf;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#secondary-links a:hover {color: #ffffff;}
/************************************************
 * PREFACE, POSTSCRIPT & CONTENT COLUMN REGION
 ************************************************/
#Preface { color: #333333; }
.column {
	text-align: left;
	color:#333333;
}
/***************************************
 * CONTENT-WRAPPER AREA
 ***************************************/
#content-wrapper { color: #ffffff; }
#content-region-top {color:#333333;}
#content-elements {color:#333333;}
#content-region {color:#333333;}

.content {
	line-height: 15px;
	letter-spacing: 1px;
	font-size: 11px;
}

/***************************************
 * FOOTER-WRAPPER AREA
 ***************************************/
.footer-region { text-align: center; color: #333333; }
/***************************************
 * BLOCK AREA
 ***************************************/
.block h2, #comments h2.comments {
	position: relative;
	top: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: block;
	margin-top: 0px;
	margin-left: 5px;
}

/***************************************
 * MISCELLANEOUS
 ***************************************/
#legal { color: #0e186c; }
#legal a{ color: #003299; }
#content-elements .status { border: 1px solid #707070; }
#breadcrumb {
	font-weight: bold;
	text-transform: uppercase;
	color: #999999;
}

#content-elements .status {
	padding: 15px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
}
#mission, #footer-message, #first-time, .block-text { margin: 15px; }
.description {
	color:#898989;
	line-height:150%;
	margin-bottom:0.75em;
}
#user-admin h1 { color: #ffffff; margin-top: 10px;}
#user-logged-in h2 { color: #cccccc; }
#user-logged-in a { color: #ffffff; }
/*.content p:first-child:first-letter {
	font-size: 290%;
	color: #999900;
}*/