/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * WHITE BACKGROUND
 ***************************************/
.block-panel {
	background-color: #FFF;
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.5);
	filter: Alpha(opacity=90);
	opacity: .9;
}
/***************************************
 * BODY BACKGROUND
 ***************************************/
body {
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-attachment: fixed;
	background-color: #FFFFFF;
}
/***************************************
 * PRIMARY & SECONDARY LINKS
 ***************************************/
#primary-links {
	background-image: url(../images/bg_bar_dark.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
#secondary-links {
	background-color: #00042D;
}
/************************************************
 * COLUMN REGIONS
 ************************************************/
.column {
	background-color: #FFF;
	background-image: url(../images/bg_bar_long.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;	
}
#Header-Top, #Header-Bottom, #Menu,#Preface, #Postscript, #Content-Column, #Footer {
	background-color: #FFF;
	background-image: url(../images/bg_bar_long_dark.png);
	background-repeat: repeat-x;
	background-position: 0px bottom;
}
#footer-region-bottom .block-panel {
	background: none;
}
#footer-region-bottom .block-outline {
	border: none;
}
/***************************************
 * BLOCK AREA
 ***************************************/
.block-title {
	background-image: url(../images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
.selected .block-title-begin, .block-title-begin:hover {
	background-position: 0px -20px;
} 
.selected .block-title-end, .block-title-end:hover {
	background-position: right -20px;
} 
/***************************************
 * MISCELLANEOUS
 ***************************************/
#forum .container { background-color: #A9D9E7; }
#content-region .block-links {}
#devavrata-link {
	width: 300px;
	height: 25px;
	overflow: hidden;
	position: relative;
	top: 0px;
	float: left;
	background-image: url(../images/bg_bar_dev.png);
	background-repeat: no-repeat;
	background-position: 0px -1px;
}
#legal {
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.5);
	filter: Alpha(opacity=50);
	background-color:#F0F0F0;
	opacity: .5;	
}
