/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * XHTML TAGS
 ***************************************/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	letter-spacing: .09em;
}
h1 { font-size: 24px;
	color: #369;
	letter-spacing: 0px;
}
h2 {
	font-size: 16px;
	color: #027AC6;
	letter-spacing: 0px;
	}
h3 { font-size: 12px;
	color: #027AC6;
}
a, a:visited {
	color: #027AC6;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
/*******************************************
 * LEFT & RIGHT SIDEBARS OUTSIDE/INNER AREA
 *******************************************/
.sidebar-outside, .sidebar { color: #333; }
/***************************************
 * HEADER-WRAPPER AREA
 ***************************************/
.header-region { color: #333; }
#header { color: #333; }
#logo-block h1 { 
	font-size: 40px;
	letter-spacing: 0px;
}
#site-name-shadow h1 { color: #CCC; }
#site-slogan h3 { color: #333; }
/***************************************
 * PRIMARY & SECONDARY LINKS
 ***************************************/
#secondary-links a, #secondary-links a:visited {
	color: #8184F5;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#secondary-links a:hover {color: #FFF;}
/************************************************
 * PREFACE, POSTSCRIPT & CONTENT COLUMN REGION
 ************************************************/
#Preface { color: #333; }
#Postscript { color: #333; }
.column {
	text-align: left;
	color:#333;
}
/***************************************
 * CONTENT-WRAPPER AREA
 ***************************************/
#content-wrapper { color: #FFF; }
#content-region-top {color:#333;}
#content-elements {color:#333;}
#content-region {color:#333;}
#content-region-bottom {color:#333;}

.content {
	line-height: 15px;
	letter-spacing: 1px;
	font-size: 11px;
}
#content-region .node .large, 
#content-region .content.large {
	font-size: 17px;
	line-height: 20px;
}
#content-region .node .larger, 
#content-region .content.larger {
	font-size: 21px;
	line-height: 24px;
}
#content-switch {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #FFF;
	font-weight: bold;
	margin: 5px;
	background-color: #FFFFFF;
	text-align: center;
	float: right;
	padding: 5px;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 3000;
}
/***************************************
 * FOOTER-WRAPPER AREA
 ***************************************/
.footer-region { text-align: center; color: #333; }
/***************************************
 * BLOCK AREA
 ***************************************/
.block h2, #comments h2.comments {
	position: relative;
	top: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: block;
	margin-top: 0px;
	margin-left: 5px;
}

/***************************************
 * MISCELLANEOUS
 ***************************************/
#legal { color: #027AC6; }
#legal a{ color: #039; }
#content-elements .status { border: 1px solid #898989; }
#breadcrumb {
	font-weight: bold;
	text-transform: uppercase;
	color: #999;
}

#content-elements .status {
	padding: 15px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
}
#mission, #footer-message, #first-time, .block-text { margin: 15px; }
.description {
	color:#898989;
	line-height:150%;
	margin-bottom:0.75em;
}
#user-admin h1 { color: #FFF; margin-top: 10px;}
#user-logged-in h2 { color: #CCC; }
#user-logged-in a { color: #FFF; }
/*.content p:first-child:first-letter {
	font-size: 290%;
	color: #990;
}*/