/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***********************************************************
 * OVERRIDES - CHANGE ALL DEFINITIONS HERE
 * This is a general CSS override file for all versions,
 * so please check if you have the following regions, columns
 ***********************************************************/
 
/*************************************
 * BACKGROUNDS CHANGE
 *************************************/
 

/**First Enable THIS to delete all white backgrounds of panels if you need to

.block-panel { background: none !important; } 
.block-outline {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
}
 */
 
/**Change main background, change this to your background**/

/*
body {
	background-image: url(images/background.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-attachment: fixed;
	background-color: #FFF;
	margin: 0px;
} 
*/

/*************************************
 * Target all block content & title
 *************************************/

/*
.block {}
.block .content {}
.block-title {
	background-image: url(images/bg_bar.png);    /** You can change the background of the block title here **
	background-repeat: repeat-x;
	background-position: 0px -1px;
}     
*/

/***************************************
 * PRIMARY & SECONDARY LINKS
 ***************************************/

/*
#primary-links {
	background-image: url(images/bg_bar.png);   /** You can change the background of primary menubar here**
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
#secondary-links {
	background-image: url(images/bg_bar_second.png); /** You can change the background of secondary menubar here**
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
*/

/*************************************
 * ADJUST PAGE SIZE and Position
 *************************************/
 
/**Default page def.
 .page-wrapper {
	position: relative;
	top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
*/

/*************************************
 * Target individual column & 
 * column set(check if your version 
 * has these columns)
 *************************************/

/*
#Header-Top {}
#Header-Top-col1 {}
#Header-Top-col2 {}
#Header-Top-col3 {}
#Header-Top-col4 {}
#Header-Top-col5 {}

#Header-Bottom {}
#Header-Bottom-col1 {}
#Header-Bottom-col2 {}
#Header-Bottom-col3 {}
#Header-Bottom-col4 {}
#Header-Bottom-col5 {}

#Menu {}
#Menu-col1 {}
#Menu-col2 {}
#Menu-col3 {}
#Menu-col4 {}
#Menu-col5 {}

#Preface {}
#Preface-col1 {}
#Preface-col2 {}
#Preface-col3 {}
#Preface-col4 {}
#Preface-col5 {}

#Content-Column {}
#Content-Column-col1 {}
#Content-Column-col2 {}
#Content-Column-col3 {}
#Content-Column-col4 {}
#Content-Column-col5 {}

#Postscript {}
#Postscript-col1 {}
#Postscript-col2 {}
#Postscript-col3 {}
#Postscript-col4 {}
#Postscript-col5 {}

#Footer {}
#Footer-col1 {}
#Footer-col2 {}
#Footer-col3 {}
#Footer-col4 {}
#Footer-col5 {}

*/

/*All columns
.column {} 
*/

/*All column sets
.column-region {} 
*/

/*************************************
 * Target header region
 *************************************/

/*
#header-region-top {}
#header-region {}
#header-region-bottom {}

#header-region #site-name h1 a {} /** Site name **
#header-region #site-slogan h3 {} /** Site slogan **

/**Target content region **
#content-region-top {}
#content-region- {}
#content-region-bottom {}

#content-region- .node h2 a {}     /** Teaser title **
#content-elements h2 {}         /** Full page title **
#content-region- .node .content {} /** Teaser & Full page body content **

*/

/*************************************
 * Target footer region
 *************************************/

/*
#footer-region-top {}
#footer-region {}
#footer-region-bottom {}
*/

/*************************************
 * Target individual or all sidebars
 * (check if your version has these sidebars)
 *************************************/
 
/*
#left-outside, #sidebar-left {}
#right-outside, #sidebar-right {}
.sidebar-outside, .sidebars {}

#left {}
#left-bottom1 {}
#left-bottom2 {}
#left-bottom3 {}
#left-bottom4 {}

#left-outside {}
#left-outside-bottom1 {}
#left-outside-bottom2 {}
#left-outside-bottom3 {}
#left-outside-bottom4 {}

#right {}
#right-bottom1 {}
#right-bottom2 {}
#right-bottom3 {}
#right-bottom4 {}

#right-outside {}
#right-outside-bottom1 {}
#right-outside-bottom2 {}
#right-outside-bottom3 {}
#right-outside-bottom4 {}
*/

/***************************************
 * VIEWS
 ***************************************/
 
/*
.view-content {}
.view-content table {
	margin: auto;
}
*/

/***************************************
 * VIEWS JCAROUSEL
 ***************************************/
 
/*
.view-content .viewscarousel .jcarousel-container-horizontal {
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-prev {}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-next {}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-clip-horizontal {}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel-item {}

.view-content .viewscarousel .jcarousel-container-vertical {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-prev {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-next {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-clip-vertical {}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-clip-vertical .jcarousel-item {}

*/

/***************************************
 * VIEWS GRID
 ***************************************/

/*
.view-content {}
.view-content .views-view-grid {
  	border-collapse:separate;	
}
#content-main .view-content .views-view-grid td {
	border: 1px solid #CCC;
}
.view-content .views-view-grid td .field-item {}

*/

/******************************************************************************************************************
 * NOTE: YOU CAN USE FIREBUG TO SEE MORE CSS IDS AND CLASS NAMES TO TARGET THE AREAS OR ELEMENTS YOU WANT TO CHANGE
 * Thank you for using Devavrata Core Theme!
 ******************************************************************************************************************/
 
