/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/
#edit-devavrata-settings-wrapper {
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #999;
	color: #FFF;
	padding: 5px;
	text-transform: uppercase;
}
#devavrata-settings-collapse h3 { color: #666; }
#devavrata-settings-collapse {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 510px;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin: 20px;
	background-color: #000;
	color: #666;
	background-image: url(../images/dev_core.png);
	background-repeat: no-repeat;
	background-position: center 10px;
}
#devavrata-settings-collapse fieldset {
	border: 1px solid #333;
}
#devavrata-settings-collapse a {
	color: #666;
}
#devavrata-settings-collapse fieldset.collapsed legend a {
	background-image:url(../images/menu-collapsed-white.png) !important;
}
#devavrata-settings-collapse fieldset legend a {
	background:transparent url(../images/menu-expanded-white.png) no-repeat scroll 5px 75% !important;
}