/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***************************************
 * WHITE BACKGROUND
 ***************************************/
.block-panel {
	background-color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.5);
	filter: Alpha(opacity=90);
	opacity: .9;
}
/***************************************
 * BODY BACKGROUND
 ***************************************/
body {
	background-image: url(images/background.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-attachment: fixed;
	background-color: #000000;
}
/***************************************
 * PRIMARY & SECONDARY LINKS
 ***************************************/
#primary-links {
	background-image: url(images/bg_bar_dark.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
#secondary-links {
	background-image: url(images/bg_bar_second.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
/************************************************
 * COLUMN REGIONS
 ************************************************/
.column {
	background-color: #ffffff;
	background-image: url(images/bg_bar_long.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;	
}
#Header-Top, #Header-Bottom, #Menu,#Preface, #Postscript, #Content-Column, #Footer {
	background-color: #ffffff;
	background-image: url(images/bg_bar_long_dark.png) !important;
	background-repeat: repeat-x;
	background-position: 0px bottom;
}
/***************************************
 * BLOCK AREA
 ***************************************/
.block-title {
	background-image: url(images/bg_bar.png);
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
/***************************************
 * MISCELLANEOUS
 ***************************************/
#forum .container { background-color: #c1c1c1; }
#content-region #block-links { background-color: #dedede; }
#devavrata-link {
	width: 300px;
	height: 25px;
	overflow: hidden;
	position: relative;
	top: 0px;
	float: left;
	background-image: url(images/bg_bar_dev.png);
	background-repeat: no-repeat;
	background-position: 0px -1px;
}
#legal {
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.5);
	filter: Alpha(opacity=50);
	background-color:#ffffff;
	opacity: .5;
	
}