/***********************************************************
 * Devavrata Core Theme for Drupal
 * A WebTheming.com Stylesheet Production
 * Created by Daniel Honrade
 * for paid technical support: mail@danielhonrade.com
 * http://webtheming.com
 * http://danielhonrade.com
 ***********************************************************/

/***********************************************************
 * OVERRIDES - CHANGE ALL DEFINITIONS HERE
 * This is a general CSS override file for all versions,
 * so please check if you have the following regions, columns
 ***********************************************************/
 
/*************************************
 * BACKGROUNDS CHANGE
 *************************************/
 
/**First Enable THIS to delete all white backgrounds of panels if you need to*/

.block-panel { background: none !important; } 
.block-outline {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
}

.sidebar, .column-region, .content-main, #footer-region-top, #footer-region {
	background-color: #000 !important;
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.5);
	filter: Alpha(opacity=90);
	opacity: .9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #333;
	color: #FFF !important;
}

 
/**Change main background, change this to your background**/


body {
	background-color: #000;
	color: #FFF;
} 


/*************************************
 * 001 Dev Skin
 *************************************/
 
#header-region-normal h1, #header-region-normal h1 a {
	color: #FFF;
}
#site-slogan h3{
	font-size: 14px;
	color: #FFF  !important;
}

#site-name-shadow h1{
	margin-top: 5px;
	margin-left: 5px;
	color: #000  !important;	
}
#header-region-normal {
	border: none;
	background-image: url(images/header_800_slideshow_gray.png) !important;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=1);
	filter: Alpha(opacity=100);
	opacity: 1;
	height: 250px;
}
.left-sidebar , #header-region-bottom {
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity1);
	filter: Alpha(opacity=100);
	opacity: 1;
	border: 1px solid #000;		
	background-color: #000 !important;
}


#header {
	position: relative;
	height: 235px;
	width: 290px;
	margin-right: 28px;
	margin-top: 15px;
	margin-bottom: 0px;
}
#header .view-content{
	width: 290px;	
}
#logo-block {
	position: relative;
	top: 120px;
}
.header {
	background: none;
}

#search {
	position: absolute;
	top: 40px;
	right: 350px;	
}
#Preface {
	background-position: bottom !important;
	border: 1px solid #333;	
}
#Preface .inner-section {
	color:#0F0 !important;
	background-color:#000 !important;
	border: 1px solid #333;	
}
.column {
	background: none !important;
	min-height: 140px;
	vertical-align:bottom;
}
.node img { float: right; }

/*************************************
 * Target all block content & title
 *************************************/

/*
.block {}
.block .content {}
.block-title {
	background-image: url(images/bg_bar.png);    /** You can change the background of the block title here **
	background-repeat: repeat-x;
	background-position: 0px -1px;
}     
*/

/***************************************
 * PRIMARY & SECONDARY LINKS
 ***************************************/

/*
#primary-links {
	background-image: url(images/bg_bar.png);   /** You can change the background of primary menubar here**
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
#secondary-links {
	background-image: url(images/bg_bar_second.png); /** You can change the background of secondary menubar here**
	background-repeat: repeat-x;
	background-position: 0px -1px;
}
*/

/*************************************
 * ADJUST PAGE SIZE and Position
 *************************************/
 
/**Default page def.
 .page-wrapper {
	position: relative;
	top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
*/

/***************************************
 * VIEWS
 ***************************************/
 
/*
.view-content {}
.view-content table {
	margin: auto;
}
*/

/***************************************
 * VIEWS JCAROUSEL
 ***************************************/
.view-content .viewscarousel .jcarousel-container-horizontal {
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
	width: 700px;
	color:#000;
	background: none;
	border: 1px solid #000;		
}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-prev {
	top: 50px;
}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-next {
	top: 50px;
}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-clip-horizontal {
	width: 700px;
	height: 130px;
}
.view-content .viewscarousel .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel-item {
	height: 120px;
	width: 160px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 5px;
	color:#000;
}



/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
/*Vertical*/
.view-content .viewscarousel .jcarousel-container-vertical {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	
	margin-right: auto;
	margin-left: auto;
	width: 170px;
	height: 600px;
	color:#000;
	background: none;
	border: 1px solid #000;		
}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-prev {
}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-next {
}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-clip-vertical {
	position: relative;
	margin-left: 5px;
	width: 160px;
	height: 580px;
}
.view-content .viewscarousel .jcarousel-container-vertical .jcarousel-clip-vertical .jcarousel-item {
	height: 120px;
	width: 160px;
	margin-left: 0px;
	margin-top: 40px;
	color:#000;
}
/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    left: 65px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    left: 65px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/******************************************************************************************************************
 * NOTE: YOU CAN USE FIREBUG TO SEE MORE CSS IDS AND CLASS NAMES TO TARGET THE AREAS OR ELEMENTS YOU WANT TO CHANGE
 * Thank you for using Devavrata Core Theme!
 ******************************************************************************************************************/
 
